*{
    background-color: #FBA1B7;
}
#header{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    font-weight: bold;
}

nav #newArray{
    color:#FBA1B7;
    background-color: #FFF0F5;
    float: left;
    border-color: white;
    padding: 10px;
    border-radius: 5px;
}
nav .sort{
    color: #FBA1B7 ;
    background-color: #FFD1DA;
    text-align: right;
    border-color: white;
    display: inline;
    justify-content: end;
    padding: 10px;
    margin: 0px 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.nav-sort{
    display: flex;
    justify-content: flex-end;
    
}
#barsContainer {
    display: flex;
    justify-content: space-evenly;
    height: 300px; /* Adjust the height as needed */
    padding: 10px;
   
    margin: auto;
    
}

.bar {
    width: 2px; /* Width of each bar */
    transition: height 0.3s ease; /* Add a smooth transition effect */
    background-color: #FFDBAA;
    border: 1px solid #0f0e0e; /* Add border properties */
    margin: 0 1px; /* Add a bit of spacing between bars */
        
}


button {
    margin-top: 10px;
}

#range{
    margin-top: 40px;
    padding-left: 90px;
    margin: auto;
    color: white;
    font-size: large;
    
}

input[type="range"] {
    background-color: #CCCCCC; /* Change this to your desired color */
}
input[type="range"]::-webkit-slider-thumb {
    background-color: white; /* Change this to your desired color */
}

